@model MACHINE_TEST_PRACTICE.Models.UserModel

@{
    ViewBag.Title = "Home Page";
}

<main>
    @using (Html.BeginForm("AddOrUpdate", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.Id)
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title" class="mb-5">USER DETAILS</h1>
            <h4 class="mb-2">User Form</h4>
        </section>
        <div class="row mb-2">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <label>Full Name: </label>
                @Html.TextBoxFor(model => model.FullName, new { @class = "w-100 form-control" })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <label>Email: </label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            </section>
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <label>Phone: </label>
                @Html.TextBoxFor(model => model.MobNo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MobNo, "", new { @class = "text-danger" })

            </section>
        </div>

        <div class="row mb-3">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <label>Date of Birth: </label>
                @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })

            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <label>Country: </label>
                @Html.DropDownListFor(model => model.CountryId, new SelectList(ViewBag.CountryList, "CountryId", "CountryName"), "-- Select Country --", new { @class = "form-control", @id = "CountryDropdown" })
                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })

            </section>
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <label>State: </label>
                @Html.DropDownListFor(model => model.StateId, new SelectList(""), "-- Select State --", new { @class = "form-control", @id = "StateDropdown" })
                @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })

            </section>
        </div>



        <div class="row mb-2">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <label class="form-label">Upload Photo: </label>
                @Html.TextBoxFor(model => model.ImageFile, new { @class = "form-control", @type = "file", @accept = "image/*", @name = "ImageFile" })
                @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
            </section>

        </div>

        <div class="row mb-2">
            <div class="col-2">
                <label>Professional Skills: </label>
            </div>
            <div class="col-10">
                <div class="row">
                    <section class="col-md-3" aria-labelledby="gettingStartedTitle">
                        @Html.CheckBoxFor(model => model.comm, new { @class = "form-check-input" })

                        <label>Communication</label>
                    </section>
                    <section class="col-md-3" aria-labelledby="gettingStartedTitle">
                        @Html.CheckBoxFor(model => model.atwup, new { @class = "form-check-input" })
                        <label>Ability to work under-pressure</label>
                    </section>
                    <section class="col-md-3" aria-labelledby="gettingStartedTitle">
                        @Html.CheckBoxFor(model => model.dm, new { @class = "form-check-input" })
                        <label>Decision Making</label>
                    </section>
                    <section class="col-md-3" aria-labelledby="gettingStartedTitle">
                        @Html.CheckBoxFor(model => model.tm, new { @class = "form-check-input" })
                        <label>Time Management</label>
                    </section>
                </div>
                <div class="row">
                    <section class="col-md-3" aria-labelledby="gettingStartedTitle">
                        @Html.CheckBoxFor(model => model.sm, new { @class = "form-check-input" })
                        <label>Self-motivation</label>
                    </section>
                    <section class="col-md-3" aria-labelledby="gettingStartedTitle">
                        @Html.CheckBoxFor(model => model.cr, new { @class = "form-check-input" })
                        <label>Conflict Resolution</label>
                    </section>
                    <section class="col-md-3" aria-labelledby="gettingStartedTitle">
                        @Html.CheckBoxFor(model => model.lead, new { @class = "form-check-input" })
                        <label>Leadership</label>
                    </section>
                    <section class="col-md-3" aria-labelledby="gettingStartedTitle">
                        @Html.CheckBoxFor(model => model.adapt, new { @class = "form-check-input" })
                        <label>Adaptability</label>
                    </section>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <button class="btn btn-secondary" type="submit">Submit</button>
            </div>
            <div class="col-md-5"></div>
        </div>
    }

    <div class="mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Photo</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Mobile No</th>
                    <th>DOB</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>Professional Skill</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in ViewBag.UserDetailsList)
                {
                    <tr>
                        <td>@items.Id</td>
                        <td><img src="@Url.Content(items.Photo)" width="48" height="48" /></td>
                        <td>@items.FullName</td>
                        <td>@items.Email</td>
                        <td>@items.MobNo</td>
                        <td>@items.DateOfBirth.ToString("dd-MM-yyyy")</td>
                        <td>@items.CountryName</td>
                        <td>@items.StateName</td>
                        <td>
                            @{
                                if (items.comm == true)
                                {
                                    <span>Communication, </span>
                                }
                                if (items.atwup == true)
                                {
                                    <span>Ability to work under pressure, </span>
                                }
                                if (items.dm == true)
                                {
                                    <span>Decision Making, </span>
                                }
                                if (items.tm == true)
                                {
                                    <span>Time Management, </span>
                                }
                                if (items.cr == true)
                                {
                                    <span>Conflict Resolution, </span>
                                }
                                if (items.lead == true)
                                {
                                    <span>Leadership, </span>
                                }
                                if (items.adapt == true)
                                {
                                    <span>Adaptability, </span>
                                }
                                if (items.sm == true)
                                {
                                    <span>Self-motivation,</span>
                                }
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Index", new { id = items.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = items.Id })
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready(function () {
        $('#CountryDropdown').change(function () {
            var countryId = $(this).val();
            if (countryId != '') {
                $.get("/Home/GetStates", { countryId: countryId }, function (data) {
                    var items = '<option>-- Select State --</option>';
                    $.each(data, function (i, state) {
                        items += "<option value='" + state.StateId + "'>" + state.StateName + "</option>";
                    });
                    $('#StateDropdown').html(items);
                });
            } else {
                $('#StateDropdown').html('<option>Select State</option>');
            }
        });
    });
</script>


